.tweet {
  border: 1px #000 solid;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
}

.tweet .username {
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}

.tweet .username a {
  color: #000;
  text-decoration: none;
}

.tweet .username a:hover {
  text-decoration: underline;
}

.tweet .tweet-body {
  font-size: 16px;
  padding: 4px 0px;
  text-align: left;
}

.tweet .tweet-action {
  display: flex;
  justify-content: space-between;
}

.tweet .tweet-action .tweet-like {
  display: flex;
  align-items: center;
}

.tweet .tweet-action .tweet-like span {
  padding-left: 4px;
}
